.joinContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 5rem;
  text-align: center;
}

@media (max-width: 667px) {
  .joinContainer {
    flex-direction: column;
    margin: 0;
  }
}
